In [ ]:
pip install sqlite3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [ ]:
import sqlite3 as db

In [ ]:
def init():
 
 conn = db.connect('spent.db')
 curr = conn.cursor()
 conn.commit

In [ ]:
sql ='create table if not exists expenses (amount number, category string ,date string)'

In [ ]:
 curr = conn.cursor()

NameError: ignored

In [ ]:
#PARENT_CLASS

 class User():
   def __init__(self,name,age,gender):
       self.name = name
       self.age = age
       self.gender = gender
   def show_details(self):
     print('Personal details')
     print('')
     print('Name',self.name)
     print('Age',self.age)
     print('Gender',self.gender)

In [ ]:
Arnav = User('Arnav',21,'Male')

In [ ]:
Arnav.show_details()

Personal details

Name Arnav
Age 21
Gender Male

In [ ]:
#CHILD_CLASS
class Bank(User):
  def __init__(self, name, age, gender):
    super().__init__(name, age, gender)
    self.balence = 0

  def credit(self,amount):
   self.amount = amount
   self.balence = self.balence + self.amount
   print('Account balence :',self.balence)

In [ ]:
Arnav.gender

'Male'

AttributeError: ignored

In [ ]:
Arnav.credit(100)

AttributeError: ignored

In [ ]:
Arnav = User('Arnav',21,'Male')

In [ ]:
Arnav.credit(100)

AttributeError: ignored

In [ ]:
def withdraw(self,amount)
  self.amount=amount
  if(self.amount > self.balence):
    print('Insufficient funds | Balence available :',self.Balence)